In [1]:
import pymongo, pandas as pd

In [2]:
# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db = client.housing
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'housing')

In [4]:
collection = db.house
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'housing'), 'house')

In [5]:
# Retrieve the first three records
records = collection.find({}).limit(3)

# Print the records
for rec in records:
    print("{")
    for key in rec.keys():
        print(f"{key}: {rec[key]},")
    print("},")

{
_id: 6666a3fdb1a4744f2a70a99b,
id: 7129300520,
date: 20141013T000000,
price: 221900,
bedrooms: 3,
bathrooms: 1,
sqft_living: 1180,
sqft_lot: 5650,
floors: 1,
waterfront: 0,
view: 0,
condition: 3,
grade: 7,
sqft_above: 1180,
sqft_basement: 0,
yr_built: 1955,
yr_renovated: 0,
zipcode: 98178,
lat: 47.5112,
long: -122.257,
sqft_living15: 1340,
sqft_lot15: 5650,
},
{
_id: 6666a3fdb1a4744f2a70a99c,
id: 6414100192,
date: 20141209T000000,
price: 538000,
bedrooms: 3,
bathrooms: 2.25,
sqft_living: 2570,
sqft_lot: 7242,
floors: 2,
waterfront: 0,
view: 0,
condition: 3,
grade: 7,
sqft_above: 2170,
sqft_basement: 400,
yr_built: 1951,
yr_renovated: 1991,
zipcode: 98125,
lat: 47.721,
long: -122.319,
sqft_living15: 1690,
sqft_lot15: 7639,
},
{
_id: 6666a3fdb1a4744f2a70a99d,
id: 5631500400,
date: 20150225T000000,
price: 180000,
bedrooms: 2,
bathrooms: 1,
sqft_living: 770,
sqft_lot: 10000,
floors: 1,
waterfront: 0,
view: 0,
condition: 3,
grade: 6,
sqft_above: 770,
sqft_basement: 0,
yr_built: 1933,
yr_renovated: 0,
zipcode: 98028,
lat: 47.7379,
long: -122.233,
sqft_living15: 2720,
sqft_lot15: 8062,
},

#### Find one document with invoice number is equals to 536365

In [6]:
# Find one document
result = collection.find({"price" : 221900}).limit(1)

for rec in result:
    print("{")
    for key in rec.keys():
        print(f"{key}: {rec[key]},")
    print("},")

{
_id: 6666a3fdb1a4744f2a70a99b,
id: 7129300520,
date: 20141013T000000,
price: 221900,
bedrooms: 3,
bathrooms: 1,
sqft_living: 1180,
sqft_lot: 5650,
floors: 1,
waterfront: 0,
view: 0,
condition: 3,
grade: 7,
sqft_above: 1180,
sqft_basement: 0,
yr_built: 1955,
yr_renovated: 0,
zipcode: 98178,
lat: 47.5112,
long: -122.257,
sqft_living15: 1340,
sqft_lot15: 5650,
},

In [7]:
query = {'sqft_living15': 1340}

result = collection.find(query)

# Convert the result to a pandas DataFrame
df = pd.DataFrame(result)

# Display the DataFrame
df.head()

,_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,6666a3fdb1a4744f2a70a99b,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6666a3fdb1a4744f2a70a9c7,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0,0,...,6,920,360,1959,0,98058,47.4485,-122.175,1340,8808
2,6666a3fdb1a4744f2a70ab01,325059171,20140505T000000,900000.0,3,1.00,1330,77972,1.0,0,...,7,1330,0,1928,1954,98033,47.6891,-122.159,1340,17689
3,6666a3fdb1a4744f2a70abc4,3294700310,20140902T000000,261000.0,2,1.00,750,8125,1.0,0,...,6,750,0,1943,0,98055,47.4727,-122.198,1340,8750
4,6666a3fdb1a4744f2a70ace3,2843200070,20141215T000000,282000.0,4,1.75,1660,10725,1.0,0,...,7,960,700,1956,0,98168,47.5033,-122.300,1340,9023

In [12]:
query = {'bedrooms': 1}
result = collection.find(query)

# Convert the result to a pandas DataFrame
df = pd.DataFrame(result)

In [11]:
df.head()

,_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,6666a3fdb1a4744f2a70a99b,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6666a3fdb1a4744f2a70a99c,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,6666a3fdb1a4744f2a70a99f,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
3,6666a3fdb1a4744f2a70a9a1,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
4,6666a3fdb1a4744f2a70a9a2,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711

In [13]:
df.tail(5)

,_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
194,6666a3ffb1a4744f2a70fce9,6003000851,20140522T000000,353000.0,1,1.00,550,1279,2.0,0,...,7,550,0,2008,0,98122,47.6160,-122.314,1460,1385
195,6666a3ffb1a4744f2a70fcef,9266700190,20150511T000000,245000.0,1,1.00,390,2000,1.0,0,...,6,390,0,1920,0,98103,47.6938,-122.347,1340,5100
196,6666a3ffb1a4744f2a70fd5e,3278600750,20150407T000000,250000.0,1,1.50,1180,1688,2.0,0,...,8,1070,110,2007,0,98126,47.5490,-122.372,1380,2059
197,6666a3ffb1a4744f2a70fdaa,1702901618,20150407T000000,420000.0,1,2.00,1070,675,2.0,0,...,8,880,190,2007,0,98118,47.5574,-122.284,1220,788
198,6666a3ffb1a4744f2a70fdcb,688000017,20140627T000000,516500.0,1,1.25,1100,638,3.0,0,...,9,1100,0,2014,0,98112,47.6228,-122.307,1110,1933

In [14]:
list(df.columns)

['_id',
 'id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [19]:
query = {'bedrooms': {"$gt" : 6}, "price" : {"$lt" : 1000000}}
result = collection.find(query)
df = pd.DataFrame(result)

In [20]:
df

,_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,6666a3feb1a4744f2a70ae0a,4024100951,20150105T000000,420000,7,3.00,2940,8624,1.0,0,...,8,1690,1250,1977,0,98155,47.7555,-122.307,1850,8031
1,6666a3feb1a4744f2a70ae74,7227802030,20140623T000000,350000,7,3.00,2800,9569,1.0,0,...,7,1400,1400,1963,0,98056,47.5102,-122.183,2150,7333
2,6666a3feb1a4744f2a70b017,9126101740,20141204T000000,490000,8,5.00,2800,2580,2.0,0,...,8,1880,920,1997,0,98122,47.6086,-122.303,1800,2580
3,6666a3feb1a4744f2a70b824,5451100490,20150115T000000,884900,7,4.75,5370,10800,1.5,0,...,8,5370,0,1967,0,98040,47.5380,-122.223,2310,10910
4,6666a3feb1a4744f2a70b953,9175600025,20141007T000000,800000,7,6.75,7480,41664,2.0,0,...,11,5080,2400,1953,0,98166,47.4643,-122.368,2810,33190
5,6666a3feb1a4744f2a70b97e,7226500100,20150219T000000,373000,8,3.00,2850,12714,1.0,0,...,7,2850,0,1959,0,98055,47.4859,-122.205,1480,4942
6,6666a3feb1a4744f2a70b99b,1997200215,20140507T000000,599999,9,4.50,3830,6988,2.5,0,...,7,2450,1380,1938,0,98103,47.6927,-122.338,1460,6291
7,6666a3feb1a4744f2a70ba26,2902200015,20150106T000000,700000,9,3.00,3680,4400,2.0,0,...,7,2830,850,1908,0,98102,47.6374,-122.324,1960,2450
8,6666a3feb1a4744f2a70bc08,2025049006,20141112T000000,750000,7,2.75,3410,4056,1.5,0,...,8,2130,1280,1906,0,98102,47.6454,-122.316,2510,4056
9,6666a3feb1a4744f2a70bc33,4178300130,20150413T000000,950000,7,3.50,3470,16264,2.0,0,...,9,3470,0,1980,0,98007,47.6203,-122.149,3040,13500
10,6666a3feb1a4744f2a70bc9e,5561300480,20150408T000000,600000,7,2.25,3170,36384,2.0,0,...,8,3170,0,1969,0,98027,47.4654,-122.003,2460,38370
11,6666a3feb1a4744f2a70c1b9,1873400020,20140703T000000,340000,8,2.75,2790,6695,1.0,0,...,7,1470,1320,1977,0,98133,47.7565,-122.331,1760,7624
12,6666a3feb1a4744f2a70c50a,686400380,20141002T000000,770000,7,2.25,3260,8145,2.0,0,...,8,3260,0,1967,0,98008,47.6336,-122.115,2340,8145
13,6666a3feb1a4744f2a70c953,4006000183,20140909T000000,450000,7,4.00,3150,7800,2.0,0,...,8,3150,0,2013,0,98118,47.5259,-122.279,1880,6000
14,6666a3feb1a4744f2a70cadf,3425059141,20140528T000000,999000,7,4.00,3150,34830,1.0,0,...,9,3150,0,1957,2005,98007,47.6029,-122.147,2390,12054
15,6666a3feb1a4744f2a70cafd,424049043,20140811T000000,450000,9,7.50,4050,6504,2.0,0,...,7,4050,0,1996,0,98144,47.5923,-122.301,1448,3866
16,6666a3feb1a4744f2a70cb50,2926049086,20141028T000000,575000,7,1.50,2670,11250,1.5,0,...,8,2320,350,1948,0,98133,47.7121,-122.332,2030,9000
17,6666a3feb1a4744f2a70cbd0,1773100755,20140821T000000,520000,11,3.00,3000,4960,2.0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
18,6666a3feb1a4744f2a70cd10,6746700615,20150318T000000,700000,8,2.50,2280,3000,1.5,0,...,7,1210,1070,1911,0,98105,47.6675,-122.316,1610,3000
19,6666a3feb1a4744f2a70cd47,1471700410,20150506T000000,310000,7,1.50,2660,15111,1.5,0,...,7,2660,0,1962,0,98059,47.4644,-122.066,1710,15429
20,6666a3feb1a4744f2a70ce87,2769600590,20141016T000000,900000,8,4.00,4020,7500,1.0,0,...,8,2010,2010,1968,0,98107,47.6732,-122.363,1560,3737
21,6666a3feb1a4744f2a70cf56,1683400165,20150430T000000,853800,7,4.00,2960,2665,2.0,0,...,9,1950,1010,1927,2013,98144,47.5835,-122.313,1970,4410
22,6666a3feb1a4744f2a70cf9f,263000324,20140513T000000,550000,7,4.00,3440,8100,2.0,0,...,7,3440,0,1970,0,98103,47.6981,-122.349,1420,1560
23,6666a3feb1a4744f2a70d1be,1420700030,20140922T000000,597157,7,4.00,2690,10880,1.0,0,...,8,2690,0,1960,0,98033,47.6787,-122.168,1840,10836
24,6666a3ffb1a4744f2a70d3be,6411600370,20140515T000000,475000,7,3.50,2870,29699,1.0,0,...,7,1520,1350,1961,0,98125,47.7153,-122.327,1380,7555
25,6666a3ffb1a4744f2a70d88c,424069271,20141024T000000,936000,7,3.75,5100,21802,2.0,0,...,10,3640,1460,2001,0,98075,47.5950,-122.040,3350,10005
26,6666a3ffb1a4744f2a70dad8,2862100366,20141015T000000,730000,7,2.75,3110,4400,1.5,0,...,7,2010,1100,1914,0,98105,47.6684,-122.319,1240,4280
27,6666a3ffb1a4744f2a70dadb,3812400455,20141104T000000,291000,7,1.00,2350,8636,1.0,0,...,7,1550,800,1962,0,98118,47.5432,-122.277,1500,7366
28,6666a3ffb1a4744f2a70db78,7663700968,20140528T000000,565000,7,4.50,4140,9066,1.0,0,...,7,2070,2070,1978,0,98125,47.7302,-122.291,1440,1865
29,6666a3ffb1a4744f2a70dbf0,8813400155,20141219T000000,808000,8,3.75,3460,4600,2.0,0,...,7,2860,600,1987,0,98105,47.6617,-122.289,2170,3750
30,6666a3ffb1a4744f2a70dcdb,6453300306,20140910T000000,419000,7,3.25,4340,8521,2.0,0,...,7,2550,1790,1986,0,98106,47.5200,-122.338,1890,8951
31,6666a3ffb1a4744f2a70e114,6190701484,20150311T000000,450000,7,3.50,2830,8625,1.0,0,...,8,1830,1000,1957,0,98133,47.7493,-122.355,1570,8400
32,6666a3ffb1a4744f2a70e3de,9187200345,20140709T000000,599000,7,2.50,2580,5750,1.0,0,...,7,1880,700,1901,0,98122,47.6025,-122.294,2280,5750
33,6666a3ffb1a4744f2a70e479,7418000130,20141211T000000,430000,8,3.25,4300,10441,2.0,0,...,8,2800,1500,1979,0,98059,47.4786,-122.131,1780,10457
34,6666a3ffb1a4744f2a70e4d4,5566100170,20141029T000000,650000,10,2.00,3610,11914,2.0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
35,6666a3ffb1a4744f2a70e63c,3052700225,20140814T000000,727160,7,3.75,2310,5000,2.0,0,...,8,2310,0,1984,0,98117,47.6781,-122.376,1360,1552
36,6666a3ffb1a4744f2a70e6d1,8141200080,20140814T000000,680000,8,2.75,2530,4800,2.0,0,...,7,1390,1140,1901,0,98112,47.6241,-122.305,1540,4800
37,6666a3ffb1a4744f2a70e722,6744700427,20140507T000000,540000,7,5.75,3700,7647,2.0,0,...,8,3700,0,1948,1984,98155,47.7393,-122.289,2510,7479
38,6666a3ffb1a4744f2a70e799,2402100895,20140625T000000,640000,33,1.75,1620,6000,1.0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
39,6666a3ffb1a4744f2a70e954,2887950020,20140625T000000,280000,7,2.50,1940,5458,2.0,0,...,7,1940,0,1994,0,98092,47.3191,-122.177,1710,5688
40,6666a3ffb1a4744f2a70ed52,2856100381,20140711T000000,580000,7,2.75,2310,2400,1.5,0,...,6,2310,0,1915,0,98117,47.6775,-122.390,1340,3825
41,6666a3ffb1a4744f2a70f1a6,8823901445,20150313T000000,934000,9,3.00,2820,4480,2.0,0,...,7,1880,940,1918,0,98105,47.6654,-122.307,2460,4400
42,6666a3ffb1a4744f2a70f1b7,2616800600,20140530T000000,840000,7,4.50,4290,37607,1.5,0,...,10,4290,0,1982,0,98027,47.4812,-122.033,2810,40510
43,6666a3ffb1a4744f2a70f322,4040500100,20141020T000000,539000,7,2.25,2620,6890,2.0,0,...,7,2620,0,1961,0,98007,47.6123,-122.134,2070,7910
44,6666a3ffb1a4744f2a70f4d1,8812401450,20141229T000000,660000,10,3.00,2920,3745,2.0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
45,6666a3ffb1a4744f2a70f501,3756900027,20141125T000000,575000,8,3.00,3840,15990,1.0,0,...,7,2530,1310,1961,0,98034,47.7111,-122.211,1380,8172
46,6666a3ffb1a4744f2a70f51a,2771604190,20140617T000000,824000,7,4.25,3670,4000,2.0,0,...,8,2800,870,1964,0,98199,47.6375,-122.388,2010,4000

In [21]:
query = {'bedrooms': {"$gt" : 6}, "price" : {"$gt" : 1000000}}
result = collection.find(query)
df = pd.DataFrame(result)

In [22]:
df

,_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,6666a3fdb1a4744f2a70abc7,5486800070,20140620T000000,1950000.0,7,3.50,4640,15235,2.0,0,...,11,2860,1780,1965,2003,98040,47.5666,-122.231,3230,20697
1,6666a3feb1a4744f2a70b95e,685000115,20141007T000000,2150000.0,8,6.00,4340,9415,2.0,0,...,8,4340,0,1967,0,98004,47.6316,-122.202,2050,9100
2,6666a3feb1a4744f2a70c15a,9822700190,20140808T000000,1280000.0,9,4.50,3650,5000,2.0,0,...,8,2530,1120,1915,2010,98105,47.6604,-122.289,2510,5000
3,6666a3feb1a4744f2a70c5b2,7159200005,20140507T000000,3200000.0,7,4.50,6210,8856,2.5,0,...,11,4760,1450,1910,0,98109,47.6307,-122.354,2940,5400
4,6666a3ffb1a4744f2a70d469,1652500060,20140711T000000,1650000.0,8,2.75,4040,20666,1.0,0,...,9,2020,2020,1962,0,98004,47.6340,-122.221,3670,20500
5,6666a3ffb1a4744f2a70db84,1225069038,20140505T000000,2280000.0,7,8.00,13540,307752,3.0,0,...,12,9410,4130,1999,0,98053,47.6675,-121.986,4850,217800
6,6666a3ffb1a4744f2a70dd9d,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
7,6666a3ffb1a4744f2a70e069,5316101075,20140926T000000,2885000.0,7,3.00,5350,14400,2.5,0,...,10,5020,330,1910,0,98112,47.6295,-122.285,3050,7469
8,6666a3ffb1a4744f2a70e449,2210500010,20140930T000000,2450000.0,7,4.25,4670,23115,2.0,0,...,11,4670,0,1992,0,98039,47.6183,-122.227,3240,13912
9,6666a3ffb1a4744f2a70e529,5536100005,20140808T000000,2300000.0,7,4.75,5310,8816,2.0,0,...,10,3650,1660,2013,0,98004,47.6221,-122.208,2920,10610
10,6666a3ffb1a4744f2a70eafb,2818600010,20150314T000000,1185000.0,7,3.50,3890,8342,2.0,0,...,9,2840,1050,1968,0,98117,47.7011,-122.392,2870,8342
11,6666a3ffb1a4744f2a70eb67,8823900290,20150317T000000,1400000.0,9,4.00,4620,5508,2.5,0,...,11,3870,750,1915,0,98105,47.6684,-122.309,2710,4320
12,6666a3ffb1a4744f2a70ecee,1338600225,20140528T000000,1970000.0,8,3.50,4440,6480,2.0,0,...,10,3140,1300,1959,0,98112,47.6310,-122.303,4440,8640
13,6666a3ffb1a4744f2a70f1c8,1346300150,20141020T000000,3300000.0,8,4.00,7710,11750,3.5,0,...,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
14,6666a3ffb1a4744f2a70f3ba,1778360150,20140620T000000,1240000.0,7,5.50,6630,13782,2.0,0,...,10,4930,1700,2004,0,98006,47.5399,-122.118,4470,8639